In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
pd1=pd.read_csv('data/case_data_calls.csv',delimiter=';')

In [10]:
print(pd1.head())

       date  calls  weekday
0  1-1-2013   2429        2
1  2-1-2013   3881        3
2  3-1-2013   3560        4
3  4-1-2013   3155        5
4  5-1-2013   1538        6

In [11]:
pd2=pd.read_csv('data/case_data_reservations.csv', delimiter=';')

In [12]:
print(pd2.head())

       date  reservations_2months_advance  total_reservations  summer_break  \
0  1-1-2014                          1494                7794             0
1  2-1-2014                          2891               20074             0
2  3-1-2014                          2790               17905             0
3  4-1-2014                          2504               10880             0
4  5-1-2014                          1522                8333             0

   christmas_break  special_day
0                1            1
1                1            0
2                1            0
3                0            0
4                0            0

In [13]:
df=pd1.merge(pd2, left_on='date' , right_on='date')

In [14]:
df.head()

,date,calls,weekday,reservations_2months_advance,total_reservations,summer_break,christmas_break,special_day
0,1-1-2014,1327,3,1494,7794,0,1,1
1,2-1-2014,3417,4,2891,20074,0,1,0
2,3-1-2014,3178,5,2790,17905,0,1,0
3,4-1-2014,1767,6,2504,10880,0,0,0
4,5-1-2014,1374,7,1522,8333,0,0,0