In [1]:
import numpy as np
import pandas as pd

In [2]:
from prophet import Prophet
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, mean_absolute_error
from statsmodels.tsa.stattools import adfuller

In [4]:
df=pd.read_csv('data/case_data_calls_reservations_preprocessed.csv')

In [5]:
print(df.head())

         date  calls  weekday  reservations_2months_advance  \
0  2014-01-01   1327        3                          1494
1  2014-01-02   3417        4                          2891
2  2014-01-03   3178        5                          2790
3  2014-01-04   1767        6                          2504
4  2014-01-05   1374        7                          1522

   total_reservations  summer_break  christmas_break  special_day
0                7794             0                1            1
1               20074             0                1            0
2               17905             0                1            0
3               10880             0                0            0
4                8333             0                0            0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790 entries, 0 to 789
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   date                          790 non-null    object
 1   calls                         790 non-null    int64
 2   weekday                       790 non-null    int64
 3   reservations_2months_advance  790 non-null    int64
 4   total_reservations            790 non-null    int64
 5   summer_break                  790 non-null    int64
 6   christmas_break               790 non-null    int64
 7   special_day                   790 non-null    int64
dtypes: int64(7), object(1)
memory usage: 49.5+ KB